html {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0rem;
}

p {
    margin: 0rem;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.badgebig {
    font-size: 2rem;
}

.badgebody {
    display: block;
}

.badgecard {
    text-align: center;
    width: 100%;
    float: left;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
}

.badgeimg {
    float: left;
    height: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 1rem 0rem 0rem 1rem;
}

.badgename {
    width: 50%;
    float: left;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    height: 100%;
    padding-left: 1vw;
    padding-right: 2vw;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.5rem;
}

.badgenum {
    float: right;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 0rem 1rem 1rem 0rem;
    padding-left: .5vw;
    padding-right: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: lightcoral;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1rem;
    width: 35%;
}

.badgeplace {
    width: 3rem;
}

.badgehead {
    font-size: 2rem;
    font-weight: bold;
}

.badges {
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    padding-bottom: 2rem;
}

.cardhead1 {
    font-size: 1rem;
    font-weight: bold;
    color: brown;
    border: 4px solid;
    border-color: brown;
}

.cardhead2 {
    font-size: 1rem;
    font-weight: bold;
    color: grey;
    border: 4px solid;
    border-color: grey;
}

.cardhead3 {
    font-size: 1rem;
    font-weight: bold;
    color: goldenrod;
    border: 4px solid;
    border-color: goldenrod;
}

.cardbody1 {
    font-size: .8rem;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: brown;
    padding: 1rem;
}

.cardbody2 {
    font-size: .8rem;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: grey;
    padding: 1rem;
}

.cardbody3 {
    font-size: .8rem;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: goldenrod;
    padding: 1rem;
}

.currenthead {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    background-color: pink;
    text-align: center;
}

.current {
    font-size: 1.6rem;
    color: blue;
    background-color:lightblue;
    text-align: center;
    padding-bottom: 1rem;
}

.deadline {
    font-size: 1.3rem;
}

.gamecard {
    height: 12rem;
    display: flex;
    justify-content: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.3rem;
}

.gamedesc {
    font-size: 1rem;
    margin: 0rem;
    padding-left: 12vw;
    padding-right: 12vw;
}

.gamedate {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orchid;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
}

.gameimg {
    height: 100%;
    border-radius: 3rem 0rem 0rem 3rem;
}

.gamename {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: 1px solid red;
    color: red;
    text-align: center;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
}

.gameplat {
    border-radius: 0rem 3rem 3rem 0rem;
}

.hours {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: green;
    background-color: lightgreen;
}

.hourbody {
    display: table;
    width: 100%;
}

.hourcard {
    float: left;
    width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%
}

.row {
    padding: 1rem;
    font-size: 1.2rem;
}

.spacer {
    width: 30%;
    margin: auto;
    float: left;
}

.title {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}

.title-text {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.navbar {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
}

.navbutton1, .navbutton2, .navd {
    display: inline;
    text-align: center;
}

.navbutton1 {
    background: linear-gradient(to right, black 50%, grey 50%);
    background-size: 201% 100%;
    background-position: left bottom;
    padding: .5rem;
}

.navbutton2 {
    background: linear-gradient(to right, grey 50%, black 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    padding: .5rem;
}

.navd {
    color: red;
    font-weight: bolder;
}

.credlink1:hover {
    color: yellow;
}

.credlink2:hover {
    color: red;
}

.title-text:hover {
    color: grey;
}

.navbutton1:hover {
    background-position: right bottom;
    transition: all .5s ease;
}

.navbutton2:hover {
    background-position: left bottom;
    transition: all .5s ease;
}

@media only screen and (min-width: 600px) {
    .badgenum {
        width: 20%;
    }

    .gamedesc {
        font-size: 1.5rem;
    }

    .cardbody1 {
        font-size: 1.5rem;
    }
    
    .cardbody2 {
        font-size: 1.5rem;
    }
    
    .cardbody3 {
        font-size: 1.5rem;
    }

    .cardhead1 {
        font-size: 1.5rem;
    }
    
    .cardhead2 {
        font-size: 1.5rem;
    }
    
    .cardhead3 {
        font-size: 1.5rem;
    }

    .deadline {
        font-size: 1.7rem;
    }

    .gametitle {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1600px) {
    .gamedesc {
        font-size: 1.8rem;
    }

    .deadline {
        font-size: 2rem;
    }

    .gametitle {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 750px) {
    .badgebig {
        font-size: 1.5rem;
    }

    .badgecard {
        height: 2rem;
        width: 95%;
    }

    .badgename {
        font-size: .8rem;
        padding-left: 1vw;
        overflow-x: auto;
        justify-content: left;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .badgename::-webkit-scrollbar {
        display: none;
    }

    .badgenum {
        font-size: 1rem;
        padding-right: .5vw;
    }

    .badgeplace {
        width: 2.5rem;
    }

    .gamecard {
        height: 6rem;
        font-size: 1rem;
    }

    .gamedate {
        border-radius: 0rem 0rem 3rem 0rem;
    }

    .gameplat {
        height: 50%;
        align-items:
    }
    
    .gameimg {
        height: 100%;
    }
}

@media screen and (pointer: coarse) {
    .navbutton1, .navbutton2 {
        background: black;
    }

    .navbutton1:active, .navbutton2:active {
        color: green;
        transition: all;
    }
    
    .credlink1:hover {
        color: inherit;
    }
    
    .credlink2:hover {
        color: inherit;
    }
    
    .title-text:hover {
        color: inherit;
    }

    .credlink1:active {
        color: red;
    }
    
    .credlink2:active {
        color: yellow;
    }
    
    .title-text:active {
        color: red;
    }
}